<!DOCTYPE html>
<html lang="en">
<head>
    {% block extra_header %}

    {% endblock %}
</head>
<body>

    <header>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'categories-list' %}">Categories</a></li>
                <li><a href="{% url 'add-category' %}">Add Category</a></li>
                <li><a href="{% url 'tasks' %}">Tasks</a></li>
                <li><a href="{% url 'add-task' %}">Add Task</a></li>

            </ul>
        </nav>
    </header>

<section class="wrapper">
    {% block content %}

    {% endblock %}
</section>

</body>
</html>