{% extends 'base.html' %}

{% block extra_header %}
<title>Categories</title>
{% endblock %}


{% block content %}
    <h1>Categories</h1>
    <table>
        <tr>
            <td>Nazwa</td>
            <td>Akcje</td>
        </tr>
    {% for category in categories %}
    <tr style="background-color: {{ category.color }}">
        <td>{{category.name}}</td>
        <td><a href="{% url 'edit-category' category.id %}">Edytuj</a></td>
        <td><a href="{% url 'delete-category' category.id%}">Usuń</a></td>
    </tr>
    {% endfor %}
    </table>

{% endblock %}

